/* From Uiverse.io by andrew-demchenk0 */ 
.form {
    --input-focus: #2d8cf0;
    --font-color: black;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: #798645;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    margin-top:100px;
  }
  
  .title {
    color:#F6FCDF;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    margin: 50px auto 0 auto;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
    margin: 50px auto 0 auto;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin: 30px auto 0 auto;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }
  

  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  

  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: pointer;
  }
  
  p{
    margin: 0 auto 0 auto;
  } 

  a:link{
    margin: 0 auto 0 auto; 
    color : red;
  }